@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


body {
  background-color: black;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
